body{
    background-color: black;
    color: white;
}

header h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: yellow;
}

header h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

a{
    color: rgb(0, 0, 0); background-color: rgb(193, 193, 193);
}

h2{
    font-size: 25px;
    color: yellow;
}

img{
    width: 250px;
    height: 250px;
}

iframe{
    width: 560px;
    height: 315px;
}

img, iframe{
    border: 2px solid yellow;
}

hr{
    border-color: yellow;
}

li, p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}